[Desktop Entry]
Type=Application
Name=cisTEM
GenericName=Computational Imaging System for Transmission Electron Microscopy
Comment=Computational Imaging System for Transmission Electron Microscopy
Exec=cisTEM
Icon=org.cistem.cisTEM
StartupWMClass=cisTEM
Terminal=false
Categories=Science;Chemistry;Biology;
MimeType=application/x-mrc;application/x-ccp4;text/x-star;application/x-emdb;image/tiff;image/jpeg;
