
[Desktop Entry]
Type=Application
Name=olex2
GenericName=Crystallography GUI
Comment="Olex2 is visualisation software for small-molecule crystallography"
TryExec=olex2
Exec=olex2
Icon=org.olexsys.olex2
MimeType=image/x-foo;
Categories=Science;Chemistry;Engineering;Education;Application;
X-Trminal=true
X-Desktop-File-Install-Version=0.13